{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
<h3>the people</h3>
{% for profile in profiles %}

    {% if profile != app.user.profile %}

        <p><strong>{{ profile.owner.email }}   ---

                {% if not app.user.profile.isFriendsWith(profile) and not app.user.profile.isPendingFriendRequest(profile) %}

                <a href="{{ path('app_send_friend_request', { id:profile.id}) }}" class="btn btn-success">Request friendship</a>

                 {% endif %}
            </strong></p>

    {% endif %}


{% endfor %}

    <h3>My sent friend requests</h3>
    {% for sentRequest in app.user.profile.sentFriendRequests %}

         <p><strong>asked {{ sentRequest.recipient.owner.email }} on {{ sentRequest.createdAt|date('H:m:I') }}</strong></p>

    {% endfor %}

    <h3>People requesting my friendship</h3>
    {% for receivedRequest in app.user.profile.receivedFriendRequests %}

        <p><strong>asked {{ receivedRequest.sender.owner.email }} on {{ receivedRequest.createdAt|date('H:m:I') }}
                <a href="{{ path('app_accept_friend_request', {id:receivedRequest.id}) }}" class="btn btn-success">Accept</a>
                <a href="{{ path('app_decline_friend_request', {id:receivedRequest.id}) }}" class="btn btn-danger">Decline</a>
            </strong></p>

    {% endfor %}

    <h3>My friends :</h3>

    {% for friend in app.user.profile.getFriends() %}

        <p><strong>{{ friend.owner.email }} <a href="{{ path('app_chat_initiate', {id:friend.id}) }}" class="btn btn-success">Chat</a></strong></p>

    {% endfor %}
    <hr>
    <h3>My chats</h3>
    {% if app.user.profile.conversations|length > 0 %}
    {% for chat in app.user.profile.conversations %}

        <p>
            {% for participant in chat.participants %}
                {% if participant != app.user.profile %}<span class="btn btn-success">{{ participant.owner.email }}</span>  {% endif %}
            {% endfor %}
            <a href="{{ path('app_chat', {id:chat.id}) }}" class="btn btn-primary">Chat</a>
        </p>

    {% endfor %}
    {% endif %}
{% endblock %}
